.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px 30px;
}

.navbar-links li {
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.navbar-links a:hover {
  color: blue; /* color de hover */
}
  