@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

.competition-hero-section {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url('../../assets/EcoShellCompetition.JPG') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
}

.competition-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.137), rgba(0, 0, 0, 0.908));
}
  
.competition-hero-text {
    position: relative;
    color: white;
    font-family: 'Work Sans', sans-serif;
    max-width: 50%;
    animation: fadeIn 1.2s ease-in-out;
}
  
.competition-hero-text h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.competition-hero-text p {
    font-size: 2rem;
    font-weight: 300;
}
  
.competition-info-section {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.competition-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}
  
.competition-content img {
    width: 40%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
  
.competition-text {
    max-width: 600px;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
}
  
.competition-text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.competition-text p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}
  
.competition-content.competition-reverse {
    flex-direction: row-reverse;
}

.competition-participation-section {
    text-align: center;
    padding: 50px 20px;
    margin-top: -80px;
    font-family: "Work Sans", sans-serif;
}
  
.competition-participation-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}
  
.competition-participation-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5;
}

.competition-offtrack-list {
    padding: 0;
    margin: 15px auto;
    max-width: 600px;
    text-align: left;
    list-style-position: inside;
}
  
.competition-offtrack-item {
    margin: 8px 0;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    color: #555;
}
  
.competition-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
  
.competition-gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 4 / 3;
}
  
.competition-gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
  
.competition-gallery-item:hover .competition-gallery-image {
    transform: scale(1.05);
}
 
@media (max-width: 768px) {
    .competition-hero-text {
      max-width: 80%;
      text-align: center;
    }
  
    .competition-hero-section {
      justify-content: center;
      padding-left: 0;
    }
  
    .competition-hero-text h1 {
      font-size: 3rem;
    }
  
    .competition-hero-text p {
      font-size: 1.5rem;
    }
  
    .competition-content {
      flex-direction: column !important;
      text-align: center;
      gap: 20px;
    }
  
    .competition-content img {
      width: 100%;
      max-height: 250px;
    }
  
    .competition-text {
      width: 100%;
      max-width: 90%;
    }

    .competition-participation-title {
        font-size: 2rem;
    }
    
    .competition-participation-description {
        font-size: 1rem;
        padding: 0 10px;
    }
    
    .competition-gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .competition-gallery-item {
        aspect-ratio: 16 / 9;
    }
}
