.footer {
  background-color: black;
  color: white;
  padding: 20px 40px;
  font-family: "Work Sans", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact,
.location,
.actions,
.socials {
  flex: 1;
  min-width: 220px;
  text-align: left;
}

.title {
  font-weight: bold;
  color: #f4a261;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.join-btn,
.donate-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.join-btn {
  background-color: #e07b39;
  color: white;
}

.join-btn:hover {
  background-color: #cf641d;
}

.donate-btn {
  background-color: #2E3EC1;
  color: white;
}

.donate-btn:hover {
  background-color: #082A91;
}

.socials {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid white;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
}
